#section2 {
    .desc {
        margin-left: 2vw;
        margin-top: 2vw;

        h1 {
            margin-bottom: 18px;
            font-family: var(--mainfont-small);
            color: #ff663e;
            font-weight: 900;
        }

        .split {
            div {
                font-family: var(--korfont);
                font-size: 1.3rem;
                word-break: keep-all;
                font-weight: 500;
                line-height: 1.4;
            }
        }
    }
}