#section7 {
    width: 100%;
    height: 100vh;
    position: relative;

    .changeBg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .contact__me {
        display: flex;
        flex-direction: column;

        .top__text {
            font-family: var(--mainfont-big);
            text-transform: uppercase;
            text-align: center;

            .t1,
            .t2 {
                font-size: 5.25vw;
                color: var(--white);
                line-height: 0.9;
            }
        }

        .bottom__cont {
            color: var(--white);
            max-width: 1782px;
            margin: 0 auto;
            width: 95%;
            margin-top: 4vw;
            display: flex;
            justify-content: space-between;

            @media (max-width: 800px) {
                flex-direction: column;
                gap: 5vh;
                margin-top: 5vh;
            }

            .left {
                width: 45%;

                @media (max-width: 800px) {
                    width: 100%;
                }

                .title {
                    font-family: var(--subfont1);
                    text-transform: uppercase;
                    font-size: 2.5vw;
                }

                .comment__input {
                    margin-top: 2.08vw;
                    display: flex;
                    justify-content: space-between;
                    height: 45px;
                    gap: 1vw;
                    font-family: var(--mainfont-small);
                    font-size: 1rem;
                    font-weight: 500;

                    .comment__name {
                        width: 40%;
                        height: 100%;

                        input {
                            height: 100%;
                            width: 100%;
                            padding-left: 10px;
                            color: var(--black);
                        }
                    }

                    .comment__text {
                        width: 50%;
                        height: 100%;
                        display: flex;

                        input {
                            width: 100%;
                            height: 100%;
                            padding-left: 10px;
                            color: var(--black);
                        }
                    }

                    .comment__btn {
                        cursor: pointer;
                        font-family: var(--subfont1);
                        width: 45px;
                        color: var(--black);
                        height: 45px;
                        font-size: 22px;
                    }
                }

                .comment__result {
                    width: 100%;
                    margin-top: 2.08vw;
                    background-color: #fff;

                    .comments {
                        width: 100%;
                        border-bottom: 1px solid #ccc;
                        padding: 5px 15px;

                        .text {
                            display: inline-block;
                            font-family: var(--korfont);
                            font-size: 16px;
                            color: var(--black);
                            font-weight: 500;
                        }

                        .author {
                            display: inline-block;
                            float: right;
                            font-family: var(--mainfont-small);
                            font-weight: 500;
                            color: var(--black);
                        }
                    }
                }
            }

            .right {
                width: 45%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                @media (max-width: 800px) {
                    width: 100%;
                }

                .title {
                    font-family: var(--subfont1);
                    text-transform: uppercase;
                    font-size: 2.5vw;
                }

                #contactme {
                    width: 100%;
                    margin-top: 2.08vw;

                    @media (max-width: 800px) {
                        max-width: 100%;
                    }

                    .mailform {
                        font-size: 1rem;
                        color: var(--black);

                        .email {
                            input {
                                height: 45px;
                                width: 100%;
                                padding-left: 10px;
                                color: var(--black);
                            }
                        }

                        .text {
                            textarea {
                                margin-top: 1.35vw;
                                resize: none;
                                height: 11.1vw;
                                width: 100%;
                                padding: 10px;
                                color: var(--black);

                                @media (max-width: 800px) {
                                    height: 10vh;
                                }

                                &::placeholder {
                                    color: var(--black);
                                    font-weight: 400;
                                }
                            }
                        }

                        .submit {
                            button {
                                cursor: pointer;
                                font-family: var(--subfont1);
                                width: 100%;
                                color: var(--black);
                                height: 45px;
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}