#section4 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section4__wrap {

    width: 100%;
    height: 100%;

    .backgroundimg {
        img {
            max-width: 1480px;
            height: 100%;
        }
    }

    .text__wrap {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .text {
            line-height: 1.2;
            font-size: 9.1vw;
            font-family: var(--mainfont-monuR);
            color: #2d024e;
        }
    }
}