/* intro */
#section1 {
    height: 100vh;
    position: relative;
    padding-top: 12vh;

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 14vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
    }
}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0.3;
    background-repeat: repeat;


}

.intro__text {
    padding-top: 12vh;
    margin: 0 68px;
    position: relative;
    font-family: var(--mainfont-monuR);

    @media (max-width : 800px) {
        margin: 0 24px;
    }

    .t2 {
        overflow-y: hidden;
    }

    .main__text {

        span {
            display: inline-block;
            font-size: 6vw;
            line-height: 1.1;

            @media (max-width : 800px) {
                font-size: 7.5vw;
            }
        }


    }

    .intro__bottom {
        display: flex;
        align-items: center;
        margin-top: 20vh;

        .bar {
            height: 1px;
            background-color: rgb(254, 252, 248);
            width: 2.6vw;
            min-width: 30px;
        }

        .text {
            margin-left: 1vw;

            p {
                line-height: 1;
                font-size: 1.6rem;
                position: relative;

                @media (max-width : 800px) {
                    font-size: 1.2rem;
                }

                img {
                    position: absolute;
                    width: 10vw;
                    height: 10vw;
                    min-width: 100px;
                    min-height: 100px;
                    right: -5.2vw;
                    top: -2.6vw;
                    transition: transform 0.3s;
                    /* 속성명을 rotate에서 transform으로 변경 */

                }

                /* 마우스 호버시 회전 */
                .rotate {
                    transform: rotate(220deg) scale(0.9);
                }

            }
        }
    }

}