#section1 {
    width: 100%;
    height: 100vh;

    .marquee__wrap {

        .marquee {
            opacity: 1;
            display: flex;
            overflow: hidden;
            border-bottom: 1px solid var(--black);

            .marquee-text {
                margin: 5px 0;
                padding: 4px 15px;
                font-family: 'Arial', sans-serif;
                font-size: 30px;
                font-weight: bold;
                white-space: nowrap;
                background-color: var(--black);
                color: #c4c4c4;
                line-height: 1;
            }
        }

        .marquee.reverse {
            flex-direction: row-reverse;
        }

        .marquee3,
        .marquee1 {
            border-top: 1px solid var(--black);
        }

        .marquee3,
        .marquee2 {
            .marquee-text {
                background-color: rgba(0, 0, 0, 0);
                color: var(--black);
            }
        }

    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        width: 100%;
        font-family: 'League Gothic';
        font-size: 33vw;
        line-height: 0.8;
        text-transform: uppercase;
        position: relative;

        span {
            width: 15vw;
            height: 15vw;
            opacity: 1;
            position: absolute;
            right: 10%;
            top: -10%;
            min-width: 50px;
            min-height: 50px;
            background-image: url(../../img/logo.png);
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            transform: rotate(-15deg);
        }
    }

    .desc {
        margin-left: 2vw;
        margin-top: 2vw;

        h1 {
            font-family: var(--mainfont-big);
            color: #ff663e;
            font-weight: 900;
        }

        p {
            font-family: 'IBM Plex Sans KR', sans-serif;
            font-size: 1.3rem;
            word-break: keep-all;
            font-weight: 400;
            line-height: 1.4;
        }
    }

}