#section3 {
    width: 100%;
    height: 100vh;
    position: relative;

    .changeBg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -3;
    }

    .backgroud__cont {
        text-align: center;
        line-height: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -85%) scale(0.5);
        font-family: var(--mainfont-big);
        font-weight: 700;
        font-size: 5.2vw;
        text-transform: uppercase;
    }

    .project__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .project__wrap {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        justify-content: space-between;
        transform: translateX(90vw);
    }

    .project__item {
        position: relative;
        margin-right: 30px;
        width: 400px;
        color: var(--black);
        padding: 15px;

        &:nth-child(1) {
            background-color: #e8ffce;
        }

        &:nth-child(2) {
            background-color: #acfadf;
        }

        &:nth-child(3) {
            background-color: #94add7;
        }

        &:nth-child(4) {
            background-color: #8981c2;
        }

        &:nth-child(5) {
            background-color: #d8c482;
        }

        .img {
            background-color: #2525259e;
            width: 100%;
            padding-bottom: 56.25%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(1) .img {
            background-image: url(../../img/recyclemock.png);
        }

        &:nth-child(2) .img {
            background-image: url(../../img/reactportmock.png);
        }

        &:nth-child(3) .img {
            background-image: url(../../img/youtubemock.png);
        }

        &:nth-child(4) .img {
            background-image: url(../../img/moviemock.png);
        }

        &:nth-child(5) .img {
            background-image: url(../../img/moviemock.png);
        }

        .title {
            font-size: 1.5rem;
            font-family: var(--engfont);
            font-weight: 600;
            line-height: 1;
            margin-top: 30px;
        }

        .desc {
            margin-top: 30px;
            font-family: var(--korfont);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5vh;
        }

        .btn {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 15px;
            left: 0;

            a {
                font-family: var(--engfont);
                font-weight: 500;
                text-align: center;
                display: inline-block;
                width: 45%;
                padding: 5px 15px;
                background-color: #252525;
                color: var(--white);
                transition: all 0.3s;

                &:hover {
                    background-color: #585858;
                }
            }
        }
    }
}