#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .marquee__wrap {
        opacity: 0;

        .marquee {
            display: flex;
            overflow: hidden;
            border-bottom: 1px solid var(--black);

            .marquee-text {
                font-weight: 300;
                padding: 7px 15px;
                font-family: var(--engfont);
                font-size: 20px;
                white-space: nowrap;
                background-color: var(--black);
                color: #c4c4c4;
                line-height: 1;
            }
        }

        .marquee.reverse {
            flex-direction: row-reverse;
        }

        .marquee3,
        .marquee1 {
            border-top: 1px solid var(--black);
        }

        .marquee3,
        .marquee2 {
            .marquee-text {
                background-color: rgba(0, 0, 0, 0);
                color: var(--black);
            }

            #webgl-canvas {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                overflow: hidden;
            }
        }
    }

    .main__text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;

        div {
            opacity: 0;
            text-align: center;
            width: 100%;
            font-family: var(--mainfont-big);
            font-size: 33vw;
            line-height: 0.8;
            text-transform: uppercase;
        }

        span {
            opacity: 0;
            width: 15vw;
            height: 15vw;
            position: absolute;
            right: 10%;
            top: -10%;
            min-width: 50px;
            min-height: 50px;
            background-image: url(../../img/logo_v2.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transform: scale(0.5);
            overflow: visible;
        }

        #webgl-canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            overflow: hidden;
        }
    }
}