#section3 {
    overflow: hidden;
    width: 100%;
    height: 25vw;
    display: flex;
    align-items: center;
    position: relative;

        .slide__text {
            white-space: nowrap;
            display: inline-block;
            font-size: 15.8854vw;
            color: #020207;
            font-family: var(--mainfont-monuR);
            text-shadow: -1px 0 #333D5A, 0 1px #333D5A, 1px 0 #333D5A, 0 -1px #333D5A;
            
        }
        .slide__text2 {
            font-family: var(--mainfont-monuR);
            color: var(--white);
            text-shadow: none;
            position: absolute;
            left: 0;
            top: 35%;
            font-size: 4vw;
            margin-left: 9.3vw;
            opacity: 0;
        }
    }


