#section6 {
    height: 100%;
}

.about__intro {
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: -10px;
        height: 15vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
    }

    .background {
        width: 100%;
        height: 100%;
        max-width: 739px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%, );
        background-image: url(../../img/section6bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.9;
        filter: brightness(1);
        z-index: -1;
    }

    .text__cont {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;

        @media (max-width:800px) {
            width: 95%;
        }

        .scroll__down {
            display: flex;
            align-items: flex-end;

            .text {
                font-weight: 300;
                font-size: 0.9rem;
                font-family: var(--mainfont-gmarket);
            }

            .svg {
                margin-left: 1rem;
                background-image: url(../../img/scrolldown2.svg);
                width: 6.77vw;
                min-width: 70px;
                height: 17px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                ;
            }
        }

        .text {
            font-weight: 600;
            margin-top: 10px;
            font-size: 4.06vw;
            font-family: var(--mainfont-monuR);
            line-height: 1.1;

            @media (max-width:800px) {
                font-size: 5.5vw;
            }
        }
    }
}

.about__me {
    height: 100vh;
    position: relative;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: -10px;
        height: 15vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
    }

    .backgroundabout {
        background-image: url(../../img/backgroundabout.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;

    }

    .about__cont {
        margin-left: 35.9vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width:1200px) {
            margin: 0 auto;
            width: 95%;
        }

        .top__wrap {
            display: flex;
            align-items: center;
            margin-bottom: 1vh;

            div {
                margin-right: 15px;
            }

            .text {
                width: 85px;
                font-family: var(--mainfont-gmarket);
                font-size: 1rem;
            }

            .underline {
                width: 5vw;
                height: 2px;
                background-color: #4E4B74;
            }

            .top__text {
                font-family: var(--subfont-vcr);
                color: #423F63;
                font-size: 1rem;
                line-height: 1;
            }

        }

        .title {
            margin-top: 2.08vw;
            font-family: var(--mainfont-monuR);
            font-size: 4.06vw;
            line-height: 1.1;

            @media (max-width:800px) {
                font-size: 7.5vw;
            }
        }

        .bottom__wrap {
            margin-top: 4.06vw;
            display: flex;
            align-items: center;
            gap: 2.4vw;

            @media (max-width:1200px) {
                margin: 0 auto;
                margin-top: 4vh;
                justify-content: center;
            }

            @media (max-width:400px) {
                flex-direction: column-reverse;
            }

            .profileimg {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    min-width: 150px;

                    @media (max-width:400px) {
                        width: 60%;
                    }
                }
            }

            .info__wrap {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                gap: 2.4vw;

                @media (max-width:400px) {
                    justify-content: center;
                    height: auto;
                }

                h1 {
                    font-family: var(--mainfont-monuR);
                    color: #807CB5;
                    font-size: 1.5rem;
                }

                p {
                    font-family: var(--mainfont-gmarket);
                    font-size: 1rem;
                    font-weight: 500;

                    em {
                        display: inline-block;
                        margin-left: 15px;
                    }
                }

                .info {
                    width: 100%;

                    @media (max-width:400px) {
                        width: auto;
                    }
                }

                .front {}

                .back {}
            }
        }
    }
}

.contact__me {
    height: 100vh;


    .top__text {
        font-family: var(--mainfont-monuR);
        text-align: center;
        line-height: 1.1;
        padding-top: 10vh;

        .t1 {
            font-size: 6.25vw;
            color: var(--black);
            text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
        }

        .t2 {
            font-size: 6.25vw;
        }
    }

    .bottom__cont {
        max-width: 1782px;
        margin: 0 auto;
        width: 95%;
        margin-top: 9.11vw;
        display: flex;
        gap: 2vw;
        margin-bottom: 2vw;

        @media (max-width:800px) {
            flex-direction: column;
            gap: 5vh;
            margin-top: 5vh;

        }

        .left {
            width: 60%;

            @media (max-width:800px) {
                width: 100%;
            }

            .title {
                font-family: var(--mainfont-monuR);
                font-size: 3.12vw;
            }

            .comment__input {
                margin-top: 2.08vw;
                display: flex;
                justify-content: space-between;
                height: 45px;
                gap: 1vw;
                font-family: var(--mainfont-gmarket);
                font-size: 1rem;
                font-weight: 500;

                .comment__name {
                    width: 40%;
                    height: 100%;

                    input {
                        height: 100%;
                        width: 100%;
                        border: 1px solid var(--white);
                        background-color: var(--black);
                        padding-left: 10px;
                        color: var(--white);
                    }
                }

                .comment__text {
                    width: 50%;
                    height: 100%;
                    display: flex;

                    input {
                        width: 100%;
                        height: 100%;
                        border: 1px solid var(--white);
                        background-color: var(--black);
                        padding-left: 10px;
                        color: var(--white);
                    }
                }

                .comment__btn {
                    width: 45px;
                    height: 45px;
                    color: var(--white);
                    background-color: var(--black);
                    border: 1px solid var(--white);
                    cursor: pointer;
                }
            }

            .comment__result {
                width: 100%;
                margin-top: 2.08vw;

                .comments {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    height: 30px;

                    .text {
                        font-family: var(--mainfont-gmarket);
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .author {
                        font-family: var(--subfont-vcr);
                        font-size: 12px;
                        color: #48456C;
                    }
                }
            }
        }

        .right {
            width: 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            @media (max-width:800px) {
                width: 100%;
            }

            .title {
                font-family: var(--mainfont-monuR);
                font-size: 3.12vw;
            }

            #contactme {
                width: 100%;
                margin-top: 2.08vw;

                @media (max-width:800px) {
                    max-width: 100%;
                }

                .mailform {
                    font-family: var(--mainfont-gmarket);
                    font-size: 1rem;
                    color: var(--white);

                    .email {
                        input {
                            height: 45px;
                            width: 100%;
                            border: 1px solid var(--white);
                            background-color: var(--black);
                            padding-left: 10px;
                            color: var(--white);
                        }
                    }

                    .text {
                        textarea {
                            margin-top: 1.35vw;
                            resize: none;
                            height: 11.1vw;
                            width: 100%;
                            border: 1px solid var(--white);
                            background-color: var(--black);
                            padding-left: 10px;
                            padding-top: 10px;
                            color: var(--white);

                            @media (max-width:800px) {
                                height: 10vh;
                            }
                        }
                    }

                    .submit {
                        input {
                            cursor: pointer;
                            width: 100%;
                            border: 1px solid var(--white);
                            background-color: var(--black);
                            color: var(--white);
                            height: 45px;
                        }
                    }
                }
            }

        }
    }
}