#section2 {
    .desc {
        margin-left: 2vw;
        margin-top: 2vw;

        h1 {
            margin-bottom: 1vw;
            font-family: var(--mainfont-small);
            color: #ff663e;
            font-weight: 900;
        }

        p {
            font-family: var(--korfont);
            font-size: 1.3rem;
            word-break: keep-all;
            font-weight: 300;
            line-height: 1.4;
        }
    }
}