#horizon {
    height: 100vh;

}

.horizon__wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 9600px;

    .horizon {
        height: 100%;
        max-width: 1920px;
        width: 100vw;
        margin: 0 auto;

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .left {
                width: 50%;

                .top {
                    font-family: var(--subfont-vcr);
                    color: #423F63;
                    font-size: 12px;
                }

                .middle {
                    margin-top: 24px;
                    font-family: var(--mainfont-monuR);
                    font-size: 4rem;
                    line-height: 1.1;
                }

                .middle2 {
                    color: #95DA75;
                    font-family: var(--mainfont-monuR);
                    font-size: 1.3rem;
                    line-height: 1;
                    margin-top: 12px;
                }

                .bottom {
                    margin-top: 24px;
                    font-family: var(--mainfont-gmarket);
                    font-weight: 300;
                }

                .btn {
                    display: flex;
                    margin-top: 7vh;
                    float: right;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-right: 30px;
                        width: 135px;
                        height: 50px;
                        font-size: 1.1rem;
                        font-family: var(--mainfont-monuR);
                        color: #95DA75;
                        border-radius: 50px;
                        background-color: #222222;
                        position: relative;

                        &::before {
                            content: '';
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            background-image: url(../../img/arrow01.svg);
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            right: 19px;
                            top: 16px;
                        }
                    }
                }
            }

            .right {

                img {
                    height: 100%;
                    max-height: 700px;
                }
            }
        }

    }
}