#main {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-position: top;
        background-size: contain;
        background-image: url(../../img/backgroundmain2.png);
        z-index: -3;
    }
}

.scroll__down {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-family: var(--subfont1);
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.1;
        text-transform: uppercase;
    }

    span {
        margin-top: 25px;
        display: inline-block;
        font-family: var(--engfont);
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: underline;
        text-underline-position: under;
        line-height: 1.1;
        text-transform: uppercase;
        position: relative;


        em {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            background-image: url(../../img/scrolldownpatern2.svg);
            width: 150px;
            height: 150px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s;
            z-index: -1;
        }
    }
}