:root {
    --mainfont-small3: 'VitroCore';
    // --mainfont-small: 'Rubik Wet Paint';
    --mainfont-small: 'Sigmar', sans-serif;
    --mainfont-small2: 'BMDoHyeon';

    --mainfont-big: 'League Gothic';
    // --korfont: 'KotraGothic';
    --korfont: 'NanumSquareNeo';
    --engfont: 'Noto Sans', sans-serif;

    --black: #000;
    --yellow: #ddff0d;

    --white: #fff;

    // 폰트 셋팅
    font-family: var(--mainfont-big) var(--mainfont-small) var(--korfont);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}