#section2 {
    height: 100vh;
}

.right img {
    width: 100px;
    height: 100px;
}

.mouse__cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.2vw;
    height: 5.2vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    will-change: transform;
    z-index: 1;
    pointer-events: none;
}

.horizon__wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 500%;

    .horizon {
        height: 100%;
        max-width: 1920px;
        width: 100vw;
        margin: 0 auto;

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            max-width: 1480px;
            gap: 4.5vw;

            @media (max-width : 800px) {
                width: 90%;
            }

            @media (max-width : 660px) {
                flex-direction: column-reverse;
                justify-content: normal;
            }


            .left {
                width: 52%;

                @media (max-width : 660px) {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                }


                .h1 {
                    color: #95DA75;

                    a {
                        &:hover {
                            background-color: #95DA75;
                            color: #000000;
                        }
                    }
                }

                .h2 {
                    color: #F9A600;

                    a {
                        &:hover {
                            background-color: #F9A600;
                            color: #000000;
                        }
                    }
                }

                .h3 {
                    color: #1657DA;

                    a {
                        &:hover {
                            background-color: #1657DA;
                            color: #000000;
                        }
                    }
                }

                .h4 {
                    color: #624B74;

                    a {
                        &:hover {
                            background-color: #624B74;
                            color: #000000;
                        }
                    }
                }

                .h5 {
                    color: #F04C41;

                    a {
                        &:hover {
                            background-color: #F04C41;
                            color: #000000;
                        }
                    }
                }

                .top__wrap {
                    display: flex;
                    position: relative;
                    align-items: flex-end;
                    gap: 5px;

                    .top__text {
                        font-family: var(--subfont-vcr);
                        color: #423F63;
                        font-size: 0.7rem;
                        line-height: 1;
                    }

                    .svg {
                        width: 12px;
                        height: 12px;
                    }

                    #bars {
                        width: 40px;
                    }

                    .bar {
                        background: #423F63;
                        bottom: 1px;
                        height: 3px;
                        position: absolute;
                        width: 3px;
                        animation: sound 0ms -800ms linear infinite alternate;
                    }

                    @keyframes sound {
                        0% {
                            opacity: .35;
                            height: 3px;
                        }

                        100% {
                            opacity: 1;
                            height: 14px;
                        }
                    }

                    .bar:nth-child(1) {
                        left: 1px;
                        animation-duration: 474ms;
                    }

                    .bar:nth-child(2) {
                        left: 5px;
                        animation-duration: 433ms;
                    }

                    .bar:nth-child(3) {
                        left: 9px;
                        animation-duration: 407ms;
                    }

                    .bar:nth-child(4) {
                        left: 13px;
                        animation-duration: 458ms;
                    }

                    .bar:nth-child(5) {
                        left: 17px;
                        animation-duration: 400ms;
                    }

                    .bar:nth-child(6) {
                        left: 21px;
                        animation-duration: 427ms;
                    }

                    .bar:nth-child(7) {
                        left: 25px;
                        animation-duration: 441ms;
                    }

                    .bar:nth-child(8) {
                        left: 29px;
                        animation-duration: 419ms;
                    }

                    .bar:nth-child(9) {
                        left: 33px;
                        animation-duration: 487ms;
                    }

                    .bar:nth-child(10) {
                        left: 37px;
                        animation-duration: 442ms;
                    }
                }
            }

            .big__title {
                margin-top: 24px;
                font-family: var(--mainfont-monuR);
                font-size: 3.8vw;
                line-height: 1.1;

                @media (max-width : 660px) {
                    font-size: 7.5vw;
                }
            }

            .sub__title {
                color: #95DA75;
                font-family: var(--mainfont-monuR);
                font-size: 1.1vw;
                line-height: 1;
                margin-top: 12px;

                @media (max-width : 660px) {
                    font-size: 2.5vw;
                }
            }

            .desc {
                margin-top: 24px;
                font-family: var(--mainfont-gmarket);
                font-weight: 300;
                font-size: 1rem;

                @media (max-width : 660px) {
                    height: 40%;
                }
            }

            .btn {
                display: flex;
                margin-top: 3.4vw;
                float: right;
                cursor: pointer;
                gap: 0.8vw;
                color: #95DA75;
                pointer-events: auto;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7.03vw;
                    height: 2.60vw;
                    min-width: 100px;
                    min-height: 35px;
                    font-size: 1.1rem;
                    font-family: var(--mainfont-monuR);
                    border-radius: 50px;
                    background-color: #222222;
                    transition: all 0.3s;


                    .arrow {
                        margin-left: 5px;
                        background-image: url(../../img/arrow01.svg);
                        width: 1.3rem;
                        height: 1.3rem;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }

        .right {
            width: 40%;

            @media (max-width : 800px) {
                width: 48%;
            }

            @media (max-width : 660px) {
                width: 60%;
            }

            img {
                height: 100%;
                max-height: 700px;
            }

        }
    }

}

.parallax__progress progress {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    height: 5px;
    border: none;
    background: transparent;


}

.parallax__progress progress::-webkit-progress-bar {
    background: transparent;
}

.parallax__progress progress::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(210, 143, 209, 1) 0%, rgba(160, 67, 187, 1) 16%, rgba(126, 21, 191, 1) 35%, rgba(64, 6, 97, 1) 62%, rgba(41, 0, 66, 1) 83%, rgba(34, 0, 42, 1) 100%);
    // background-color: #fff;
    background-attachment: fixed;
}

.parallax__progress progress::-moz-progress-bar {
    background: linear-gradient(90deg, rgba(210, 143, 209, 1) 0%, rgba(160, 67, 187, 1) 16%, rgba(126, 21, 191, 1) 35%, rgba(64, 6, 97, 1) 62%, rgba(41, 0, 66, 1) 83%, rgba(34, 0, 42, 1) 100%);
    // background-color: #fff;
    background-attachment: fixed;
}